h1{
  color: #9c27b0;
  font-size: 4em;
  font-style: italic;

}

img{
  width: 400px
  height: auto;
}

body{
  background-color: hotpink
}

.highlight{
  background-color: pink;
}

.content{
    font-style: italic;
}

#subtitle{
  font-size: .75cm;
  font-style: italic;
}
