h1{
  color: #9c27b0;
  font-size: 4em;
  font-style: italic;

}

img{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

body{
  background-color: hotpink
}

.highlight{
  background-color: pink;
}

.container{
    max-width: 750px;
    margin: 0 auto;}

.content{
    
}

#subtitle{
  font-size: .75cm;
  font-style: italic;
}
