h1{
  color: #9c27b0;
  font-size: 4em;
  font-style: italic;

}

img{
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

body{
  background-color: hotpink
}

.highlight{
  background-color: pink;
}

.container{
    max-width: 750px;
    margin: 0 auto;
    padding-right: 10em;
}

.content{
    margin: 0 auto;

}

.sidebar{
        background-color: purple;
        position: fixed;
        top: 0;
        right: 0;
        width: 10em;
        height: 100vh;
}

.relative{
    position: relative;
}

.avatar{
    margin: 1em;
    width: 2em;
    position: absolute;
    top: 0;
    left: 0;
}

#subtitle{
  font-size: .75cm;
  font-style: italic;
}
